@import "../../style.scss";

.events-page {
    @include themify($themes) {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: themed("bgSoft");

        h1 {
            font-size: 50px;
            margin-bottom: 2rem;
            color: themed("logo");
        }

        span {
            color: themed("textColor");
            padding: 20px;
        }

        .buttonContainer {
            gap: 16px;
            margin-top: 10px;
            margin-bottom: 16px;
            margin-left: 10px;
            width: 100px;
            background-color: themed("bg");
            padding: 15px;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;

            button {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                border-radius: 20px;
                height: 45px;
                width: 100px;
                border-width: 0;
                background-color: themed("logo");
                color: white;
                cursor: pointer;
            }
        }

        .event-card {
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
            border-radius: 20px;
            border-radius: 20px;
            padding: 30px;
            margin-bottom: 50px;
            display: flex;
            gap: 40px;
            align-items: center;
            flex-direction: column;
            background-color: themed("bg");

            h2 {
                color: themed("logo");
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
            }

            button {
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                border-radius: 20px;
                height: 45px;
                border-width: 0;
                background-color: themed("bg");
                color: themed("logo");
                cursor: pointer;
                margin-top: 1rem;
            }

            p {
                margin-bottom: 1rem;
                color: themed("textColor");
            }

        }

        .participant-card {
            -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
            -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
            box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 20px;
            width: 500px;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: themed("bgSoft");

            h3 {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                color: themed("textColor");
            }

            img {
                max-width: 100%;
                max-height: 600px;
                border-radius: 20px;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 1rem;
                color: themed("textColor");
            }

            button {
                font-size: 1.2rem;
                padding: 0.5rem 1rem;
            }

        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: themed("textColor");
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999999;

            form {
                background-color: #fff;
                padding: 2rem;
                border-radius: 5px;
                width: 500px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: column;
                align-items: left;
                color: themed("textColor");
                background-color: themed("bg");

                label {
                    margin-top: 10px;
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    color: themed("logo")
                }

                input {
                    width: 100%;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    font-size: 1.25rem;
                    border: none;
                    border-radius: 5px;
                    color: themed("textColor");
                    background-color: themed("bgSoft");
                }

                button {
                    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
                    border-radius: 20px;
                    border-width: 0;
                    background-color: themed("logo");
                    color: themed("textColor");

                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 5px;
                    margin-top: 1rem;
                    cursor: pointer;
                }
            }

        }
    }
}