@import "../../style.scss";

.logout {
    @include themify($themes) {

        -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        height: 45px;
        width: 100px;
        border-width: 0;
        background-color: themed("bgSoft");
        color: themed("textColor");
        cursor: pointer;

        transition: transform 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          background-color: themed("logo");;
        }

    }

}